/* background */

$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #1a1a1a;

$lightColor: #fff;
$darkColor: #000;
$grayColor: #d8d8d8;

/* text */

$mainTextColor: #202224;

/* border */

$borderColor: #e4e7ec;

/* placeholder */

$placeholderColor: #d7d9dd;
