@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.itemsLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $gap-space;
    overflow: hidden;
    @include container();

    @include responsive(max, "xl") {
        grid-template-columns: repeat(3, 1fr);
    }
    @include responsive(max, "md") {
        grid-template-columns: repeat(2, 1fr);
    }
    @include responsive(max, "sm") {
        grid-template-columns: repeat(1, 1fr);
    }
}
