.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem;
        outline: none;
        border-radius: 4px;
        background: var(--foreground);
        color: var(--text-white-color);
        font-weight: 600;
    }
}
